{% extends 'base.html' %}

{% block content %}
<section class="hero jumbotron jumbotron-fluid">
    <div class="landing p-4 container text-center">
        <h1 class="festival-name display-4 pb-4">
            Welcome to Riot Rhythm Festival 2024
        </h1>
        <p class="lead pt-2 pb-4">
            Immerse yourself in the pulse of music and rebellion. Stay wild, stay in the riot — sign up, request your favorite bands from our Band Bank, and like other users requests!!
        </p>
        {% if request.user.is_authenticated %}
        <a href="{% url 'add_band' %}" class="btn btn-primary custom-btn-primary">Request A Band</a>
        {% else %}
        <a href="/accounts/signup/" class="btn btn-primary custom-btn-primary">Sign Up Now</a>
        {% endif %}
        <p class="pt-4">Let's make this festival for the fans, by the fans!</p>
    </div>
</section>

<section>
    <div class="landing container text-center p-4">
        <h2>Information</h2>
        <p>
            <strong>Make Your Musical Dream a Reality at Riot Rythm Festival!</strong>
            You Call the Shots!

            Engage with Us: Jump into our Band Requests section to vote for your favorite bands or suggest new ones. Your choices shape the lineup!
            Take the Lead: Can't find your favorite band? Add them to our lineup in the 'Add Band' section. Whether you're into rock legends or indie icons, we want to hear from you!
            Stay Tuned:

            Keep Updated: The Riot Rythm Festival is coming to Stockholm later this year. Don't miss out on our announcements for dates and venues!
            Act Now: Register and log in to unlock full features. Start liking bands, making requests, and fully engage with the festival planning.
            Let's Get Loud:

            Bring the Noise: Help us bring your favorite bands to the stage. The more you interact, the better the festival!
            Remember: Your clicks in the Band Requests section bring the bands you love one step closer to our stage. Let's rock the Riot Rythm Festival together!
        </p>
    </div>
</section>
{% endblock %}
