{% extends "base.html" %}

{% block title%}Band Requests{% endblock %}

{% block content %}
<div class="container form p-4 text-center "><h1 >
    Band Requests
</h1> <p>Click the images for more detail and to like a request.
    Click your own bands requests to edit or delete them.
</p> </div>

<div class="container d-flex flex-row flex-wrap justify-content-center align-items-center p-4">
    {% for band in bands %}
        <a href="{% url 'band_detail' band.pk band.slug %}" class="bands" aria-label="Click to view {{ band.band_name }}">
            <div class=" text-center card m-3" style="width: 18rem;">
                <img src="{{ band.image.url }}" class="card-img-top " alt="{{ band.image_alt }}">
                <div class="card-body">
                    <h2 class="card-title">{{ band.band_name }}</h2>
                    <p class="card-text">{{ band.genre_choices }}</p>
                    <p class="card-text"><strong>Decription:</strong>  {{ band.description|safe|truncatechars:50 }}</p>
                    <p class="card-text"><strong>Motivation:</strong>  {{ band.motivation|safe|truncatechars:50 }}</p>
                    <p class="card-text"> <strong>Added By:</strong>  {{ band.user.username }}</p>
                    <p class="card-text pb-4"> <strong>Added On:</strong>  {{ band.request_date|date:"F j, Y" }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock %}