{% extends "base.html" %}

{% block title %}Band Requests{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mt-2">Band Requests</h1>

    {% for bandrequest in bandrequests %}
    <div class="card band-request-info m-3 p-1">
        <h2><a href="{% url 'band_request_detail' bandrequest.slug %}">{{ bandrequest.band.band_name }}</a></h2>
        <p><strong>User: {{ bandrequest.user.username }}</strong></p>
        <p>Request Date: {{ bandrequest.request_date }}</p>
        <p>Motivation: {{ bandrequest.motivation }}</p>
    </div>
    {% empty %}
    <p>No band requests yet.</p>
    {% endfor %}
</div>
{% endblock %}