@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lobster&display=swap');

:root {
    /** Fonts for the whole project */
    --title: 'Lobster', sans-serif;
    --main-font: 'Lato', sans-serif;




/** Root Colors */
--background: #3f006a0f;
--blue: #0d6efd;
--black: #000;
--off-white: #f6f6f6;
--white: #fff;
--orange: #ffbf50;
--pale-blue:#fffbd3;
--button-red:#c9a19c;




/* Box shapes */
--small-box-shadow: 1px -1px 7px 0 #00000061;
--border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);

}

/* Buttons my own created */
.btn-festival {
    background-color: var(--button-red);
    color: var(--black);


}

.btn-festival:hover {
    background-color: var(--orange);
    color: var(--black);
}

/*Thh main part of the page with the background image */
main {
    background-image: url('/static/images/rrbackground50.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    flex: 1 0 auto;
    background-color: var(--white);
}




/* Footer ,icons and copywrite part */
footer {
    flex-shrink: 0;
    background-color: var(--off-white);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

.copyright-jj {
    display: flex;
    justify-content: end;
    margin-top: 15px;

}

/* Header both navbar and images */
.navbar {
    background-color: var(--off-white);
    box-shadow: var(--small-box-shadow);
    margin-left: 10px;
}

header {
    position: sticky;
    top: 0;
    z-index: 1020;
}

.skeleton-img {
    width: 4rem;
    margin-right: 50px;
}

#navbarNav {
    margin-left: 250px;
}

a.nav-link {
    color: var(--black);
}

img.logo {
   width: 8rem;

}

.active {
    border: 2px solid var(--black);
    font-weight: 500;
}

/* Form the form which often is inside the landingpage box */
.form {
    width: 60%;
    margin: 3% auto;
    background-color: var(--off-white);
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
}


/* Landing Page the main box for the project */
.landing {

    width: 60%;
    margin: 3% auto;
    background-color: var(--pale-blue);
    box-shadow: var(--small-box-shadow);
    border-radius: 5px;
    opacity: 0.9;
}

.festival-name {
    font-family: var(--title);

}

/* Bands styles */

.card {
    height: 90%;
    margin-top: 1rem;
}

.bands {
    text-decoration: none;
    color: var(--black);
}

.bands:hover {
    cursor: pointer;
}

.band-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.band-details {
    width: 100%;
}

.band-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile styles */

.profile img {
    width: 200px;
    border-radius: 2rem;

}

#myModal {
  margin-top: 140px;
}

.close:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .form {
        width: 75%;
}

    .form h1 {
        font-size: 1.5rem;
    }

    .form h2 {
        font-size: 1.2rem;
    }

    .form p {
        font-size: 0.8rem;
    }

    .profile img {
        width: 100px;
    }

    /* Media queries for the navbar  and text */
}
@media screen and (max-width: 1400px) {
    #navbarNav {
        margin-left: 10px;
    }

    .form h1 {
        font-size: 1.2rem;
    }

    .form h2 {
        font-size: 1rem;
    }

    .form p {
        font-size: 0.7rem;
    }

    .profile img {
        width: 80px;
    }

}

/* Media queries for the footer copyright box */

@media screen and (max-width: 600px) {
    .copyright-jj {
        display: none;
    }
}
/* Medai queries for the skeleton image */
@media screen and (max-width: 1150px) {
    .skeleton-img {
        display: none;
    }

}