{% load static %}

<footer>
    <!-- Social media icons-->
    <a href="https://www.facebook.com/" target="blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
        <img src="{% static '/icons/facebook-icon.png' %}" alt="Facebook icon" class="social-icon">
    </a>
    <a href="https://www.instagram.com/" target="blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
        <img src="{% static '/icons/instagram-icon.png' %}" alt="Instagram icon" class="social-icon">
    </a>
    <a href="https://open.spotify.com/" target="blank" rel="noopener" aria-label="Spotify - Opens in a new tab">
        <img src="{% static '/icons/spotify-icon.png' %}" alt="Spotify icon" class="social-icon">
    </a>
    <a href="https://www.youtube.com/" target="blank" rel="noopener" aria-label="Youtube - Opens in a new tab">
        <img src="{% static '/icons/youtube-icon.png' %}" alt="Youtube icon" class="social-icon">
    </a>
    <div class="container copyright-jj"><p>&copy; 2024 Jorgen Jonsson. All rights reserved.</p></div>
</footer>
