{% load static %}

<header>
    {% with request.resolver_match.url_name as url_name %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{% static 'images/logo-riot-r.png' %}" alt="Riot Rythm Logo" class="logo"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navbar links -->
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2">
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'home' %}active{% endif %}" aria-current="page" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'band_bank' %}active{% endif %}" href="{% url 'band_bank' %}">Band Bank</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'band_bank' %}active{% endif %}" href="{% url 'band_requests' %}">Band Bank</a>
              </li>
              {% if request.user.is_superuser %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'add_band' %}active {% endif %}" href="{% url 'add_band' %}">Add Band</a>
              </li>
              {% endif %}
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'request_band' %}active {% endif %}" href="{% url 'request_band' %}">Request Band</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_logout' %}active {% endif %}" href="/accounts/logout/">Logout</a>
              {% else %}
            </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_signup' %}active {% endif %}" href="/accounts/signup/">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if url_name == 'accounts_login' %}active {% endif %}" href="/accounts/login/">Login</a>
              </li>

              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    {% endwith %}
</header>